.warning{
  position: absolute;
  right: 0;
  top: 10%;
  width: 234px;
  height: 23px;
  padding: 12px 20px;
  color: #fff;
  background-color: red;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  z-index: 999;
}